* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/* UTILITIES */

/* NAV */
nav {
  display: flex;
  width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  margin-right: 15px;
  color: #999;
  font-weight: 700;
}

nav a:hover {
  color: #111;
}

nav a:focus {
  color: #111;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: center;
}

.nav-left .logo {
  width: 100px;
  margin-right: 20px;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

.nav-right .menu {
  list-style: none;
}
.nav-right .menu > li {
  display: inline-block;
}

.nav-right .app-button {
  border: 1px solid #EB008E;
  border-radius: 20px;
  background: #EB008E;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 20px;
}

.nav-right .it {
  margin: 0;
  padding: 0;
}

.nav-right .it:hover i {
  color: #111;
}

.nav-right .it i {
  font-size: 10px;
  color: #999;
  margin-right: 10px;
}

/* DROPDOWN */

.link .drop {
  position: relative;
}

.nav-right .link .drop-down {
  position: absolute;
  top: 60px;
  right: 800px;
  width: 300px;
  text-align: left;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0px 5px 15px 5px rgba(9,9,9, 0.2);
}

.nav-right .link .drop-down li {
  margin: 20px 0;
  color: #999;
  cursor: pointer;
}

.nav-right .link .drop-down li:hover {
  color: #111;
}


.nav-right .drop-down ul {
  list-style: none;
}
